

<div class="background-wrap">
 <div class="background"></div>
</div>
<h2>Welcome to Employee Management system dashboard</h2>

<button type="button" class="btn-info" (click)="getEmployeeData()" >Get Employee Details</button>
<button type="button" class="btn-logout"(click)="Logout()">Logout</button>

<table>
    <thead>
        <tr>
            <th>EmpID</th>
            <th>EmpName</th>
            <th>Gender</th>
            <th>Salary</th>
            
        </tr>
    </thead>
   <tbody>
        <tr *ngFor="let emp of employee">
            <td>
                <a [routerLink]="['/employee',emp.empID]">
                {{emp.empID}}
            </a>
            </td>
            <td>{{emp.empName}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.salary}}</td> 
            
        </tr>
    </tbody>

</table>


